/* Font 'Roboto' from fonts.google.com */
@import url('https://fonts.googleapis.com/css?family=Roboto');

:root {
    --colorA: #454545;
    --colorB: #7777ff;
    --colorC: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

#hdr {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 10px;
    background: var(--colorC);
    box-shadow: 0 0 35px 0 var(--colorA);
    margin-bottom: 1rem;
    z-index: 1;
}

#title {
    flex-basis: 90%;
}

#title h1 {
    user-select: none;
    font-weight: 100;
    color: var(--colorA);
}

#title h1::first-letter {
    color: var(--colorC);
    background: var(--colorB);
    padding: 0 10px;
    border-radius: 3px;
}

#search {
    flex-basis: 10%;
    text-align: right;
}

#search i {
    cursor: pointer;
    color: var(--colorB);
    border: 1px solid var(--colorB);
    border-radius: 3px;
    padding: 10px;
    transition: ease 0.3s;
}

#search i:hover {
    color: var(--colorC);
    background: var(--colorB);
}

#search-form {
    display: block;
    position: fixed;
    top: -50%;
    left: 0;
    background: rgba(127, 255, 255, 0.9);
    width: 100%;
    height: 50%;
    z-index: 1;
}

@keyframes hide-search-form {
    from {
        top: 0;
    }
    to {
        top: -50%;
    }
}

@keyframes view-search-form {
    from {
        top: -50%;
    }
    to {
        top: 0;
    }
}

.hide-search-form {
    animation: hide-search-form ease 0.6s;
    top: -50% !important;
}

.view-search-form {
    animation: view-search-form ease 0.6s;
    top: 0 !important;
}



#container {
    position: absolute;
    top: 80px;
    padding: 0 1rem;
    width: 100%;
    height: calc(100% - 80px);
    background: var(--colorB);
}

#story-category {
    margin-bottom: 0.5rem;
}

#story-category h2 {
    user-select: none;
    font-size: 1.2rem;
    font-weight: 100;
    color: var(--colorA);
}

/* .scene {
    width: 200px;
    height: 260px;
    perspective: 600px;
}

.card {
    width: 100%;
    height: 100%;
    position: relative;
    transform-origin: center right;
    transition: transform 0.5s ease;
    transform-style: preserve-3d;
}

.card-face {
    position: absolute;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
}

.card-face-front {
    background: red;
}

.card-face-back {
    background: green;
    transform: rotateY(180deg);
}

.card:hover {
    transform: translateX(-100%) rotateY(-180deg);
} */